.breadcrumbs {
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;
    list-style-type: none;

    &__item {
        display: inline-block;

        &:not(:last-child) {
            padding-right: 20px;
            margin-right: 10px;
            background-image: url('../gfx/icons/svg/icon-right-small.svg');
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 4px 10px;
        }
    }

    &__link {
        color: $primary-font;
        text-decoration: underline;

        &:hover {
            color: #ffbc9e;
        }

        &:active {
            color: #ffbc9e;
        }
    }
}
