.header {
    position: relative;
    padding-top: 5px;

    &__navigation {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__logo {
        display: inline-block;
        width: 154px;
        height: 64px;
        margin-right: 25px;
    }

    &__connection {
        position: absolute;
        right: 25px;
        bottom: 0;
        z-index: 10;
        margin: 0;
        margin-left: auto;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        text-align: right;
        transform: translateY(100%);
    }

    &__search {
        position: relative;
    }

    &__phone {
        display: inline-block;
        padding: 5px 0 0;
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
    }
}
