.subscription {
    width: 49%;
    padding: 30px 23px;
    background-color: #f8f7f4;
    border: 5px solid transparent;
    border-image: url('../gfx/images/strips.png') 5 round;
    border-radius: 20px;

    &__text {
        margin: 0;
        margin-bottom: 30px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: $tertiary-font;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__email {
        flex-grow: 1;
        margin-right: 10px;
    }
}
