{% extends 'layouts/default.html' %}

{% set title = 'pages' %}

{% block head %}
    <style>
        body {
            font-family: arial, sans-serif;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        li + li {
            margin-top: .5rem;
        }
    </style>
{% endblock %}

{% set pagesList = [
        ['01', 'page-home.html', 'Home'],
        ['02', 'page-products.html', 'Products']
    ]
%}

{% block content %}
    <div class="container">
        <h1>Gllasy: templates</h1>
        <ul>
            {% for id, url, title in pagesList %}
                <li><a href="{{url}}">id{{id}}: {{title}}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
