*,
*:after,
*:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin-top: 4px;
    font-family: 'Roboto', sans-serif;
    color: $primary-font;
    background-color: $primary-bg;
    transition: background-color 0.5s ease-out;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    max-width: 1200px;
    min-width: 850px;
    padding: 0 25px;
    margin: 0 auto;
}

.visually-hidden {
    display: none;
}

.highlight-text {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 10px 0 0 rgba(255, 255, 255, 0.8);
}

.flex-block {
    display: flex;
    justify-content: space-between;
    min-width: 850px;
    margin-bottom: 40px;
}
